<div class="page main-bg main-bg-3 cart-wrapper">
  <div class="cart-content">
    <div class="close">
      <ion-icon name="ios-close-circle-outline" class="close-icon" (click)="goBack()"></ion-icon>
    </div>
    <img src="assets/icon/cart.png" class="cart-title">
    <div class="cart-total">
      <div>全部商品</div>
      <div>合计：<span class="cart-price">￥{{totalAmount}}</span></div>
    </div>
    <div class="cart-opts">
      <div>
        <div (click)="pay()" class="cart-opts-btn cart-opts-btn-primary">结 算</div>
        (仅支持微信支付)
      </div>
      <div>
        <div (click)="goBack()" class="cart-opts-btn">继续购买</div>
        &nbsp;
      </div>
    </div>
    <div class="cart-list-title">
      清单
    </div>
    <table class="cart-item-table">
      <thead>
        <th></th>
        <th>单价</th>
        <th>梳理</th>
        <th>金额</th>
        <th>操作</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>
            <div class="product-info">
              <div><img src="{{item.image}}"> </div>
              <div class="product-title">{{item.id}}</div>
            </div>
          </td>
          <td>￥{{item.price}}</td>
          <td>
            <div>
              <div class="cart-input">
                <div class="stepperInput">
                  <button class="button button--addOnLeft" (click)="minus(item.id, 'packet')">-</button>
                  <input type="text" value="{{item.packetNum}}" class="input stepperInput__input" disabled/>
                  <button class="button button--addOnRight" (click)="add(item.id, 'packet')">+</button>
                </div>
                <div>包</div>
              </div>
              <div class="cart-input">
                <div class="stepperInput">
                  <button class="button button--addOnLeft" (click)="minus(item.id, 'carton')">-</button>
                  <input type="text" value="{{item.cartonNum}}" class="input stepperInput__input" disabled/>
                  <button class="button button--addOnRight" (click)="add(item.id, 'carton')">+</button>
                </div>
                <div>条</div>
              </div>
            </div>
          </td>
          <td>￥{{item.total}}</td>
          <td>
            <div (click)="remove(item.id)">删除</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>