.app-menu-container {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-menu {
  display: flex;
  flex-direction: column;

  > a {
    width: 100px;
  }

  .app-menu-1-2 {
    background: url('assets/icon/menu-1-2.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 280px;
  }
  .app-menu-1-2-active {
    background: url('assets/icon/menu-1-2-active.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 280px;
  }
  .app-menu-3 {
    background: url('assets/icon/menu-3.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 165px;
  }
  .app-menu-3-active {
    background: url('assets/icon/menu-3-active.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 165px;
  }
  .app-menu-4 {
    background: url('assets/icon/menu-4.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 165px;
  }
  .app-menu-4-active {
    background: url('assets/icon/menu-4-active.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 165px;
  }
}