@import '../../common.scss';

.main-content {
  margin-top: 454px;
  margin-left: 100px;
  margin-right: 100px;
  height: 2157px;
  width: 756px;
  position: relative;
}

.slides {
  height: 482px;
  width: 100%;
}

.slide-image {
  height: 100%;
}

.desc {
  height: 324px;
  width: 100%;
  padding-top: 20px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

.cart {
  height: 385px;
  margin-bottom: 54px;
  padding: 35px;
  width: 100%;
  border: 1px solid RGBA(163, 139, 80, 1.00);
  border-radius: 10px;
  display: flex;

  .cart-image {
    width: 204px;
  }

  .cart-detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 36px;

    .cart-title {
      font-size: 54px;
    }

    .cart-price {
      font-size: 44px;
    }

    .cart-price-total {
      color: red;
    }

    .cart-input {
      display: flex;
      margin-top: 20px;
      margin-bottom: 10px;
      line-height: 36px;

      > .stepperInput {
        margin: 0 10px 0 20px;
      }
    }
  }

  .cart-detail-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }

  .cart-opts {
    display: flex;
    flex-direction: row-reverse;
  }

  .cart-opts-btn {
    margin-top: 10px;
    border-radius: 40px;
    border: 1px solid RGBA(163, 139, 80, 1);
    padding: 4px 40px;
    font-size: 20px;
    margin-left: 20px;
  }
}

.desc2 {
  width: 100%;
  padding: 35px;
  border: 1px solid RGBA(163, 139, 80, 1.00);
  border-radius: 10px;
  font-size: 24px;
}

.desc-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  flex-shrink: 0;
}

.desc-content {
  overflow: auto;
}